# Dependências
node_modules/
backend/node_modules/
frontend/node_modules/

# Builds de produção
dist/
backend/dist/
frontend/dist/
build/

# Variáveis de ambiente e segredos
.env
.env.local
.env.*.local
*.pem

# Logs de execução e depuração
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes e cobertura
coverage/
.nyc_output/

# IDEs e Sistema Operacional
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
